<!-- Header -->
<header class="header pb-9 pt-10" style="background-image: url(../assets/img/bg/4.jpg)" ng-init="init()">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="fw-200 mb-6">All Tickets</h1>
                <p class="lead-2">All the tickets submitted to CallHub</p>

            </div>
        </div>
    </div>
</header><!-- /.header -->


<!-- Main Content -->
<main class="main-content">

    <section class="section overflow-hidden bg-gray" style="padding-top: 50px">
        <div class="container">

            <div data-provide="shuffle">

                <nav class="nav nav-center nav-pills mb-7" data-shuffle="filter">
                    <a class="nav-link active" href="#" data-shuffle="button">All</a>
                    <a class="nav-link" href="#" data-shuffle="button" ng-click="typeSort('ServiceRequest')">Service Request</a>
                    <a class="nav-link" href="#" data-shuffle="button" ng-click="typeSort('BugReport')">Bug Report</a>
                    <a class="nav-link" href="#" data-shuffle="button" ng-click="typeSort('FeatureUpdate')">Feature Update</a>
                </nav>

                <form class="input-round nav nav-center nav-pills mb-7" style="margin: auto; width: 50%">
                    <div class="input-group">
                        <input type="text" class="form-control" data-shuffle="search" ng-model="searchTicket" placeholder="search for tickets | type | components" ng-focus="searchFocused()" ng-blur="searchBlurred()">
                        <div class="input-group-append">
                            <button class="btn btn-success" style="margin-left: -20px; z-index: 3" type="button">Search!</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="row gap-y gap-2" data-shuffle="list">

                <div class="col-md-6 col-xl-4" style="padding: 20px"  data-shuffle="item" ng-repeat="ticket in tickets |filter:searchTicket | filter: myFilter track by $index">
                    <div class="product-3 mb-3">
                        <a class="product-media" href="item.html">
                            <img ng-src="{{ticket.image}}" style="max-height: 140px" alt="product">
                        </a>

                        <div class="product-detail">

                            <p><a class="small-5 text-lighter text-uppercase ls-2 fw-400" href="#">{{ticket.type}}</a></p>
                            <h6><a href="#">{{ticket.title}}</a></h6>
                            <div class="product-price">Team: {{ticket.team}}</div>
                        </div>
                    </div>
                </div>

            </div>

            <nav class="mt-7">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" ng-click="currentPage=currentPage-1">
                            <span class="fa fa-angle-left"></span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" ng-click="currentPage=currentPage+1">
                            <span class="fa fa-angle-right" ></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </section>


</main>